{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    .centre {
        margin: 0 auto;
        max-width: 1080px;
        padding: 0 24px 72px;
    }

    .title {
        text-align: center;
        font-weight: 700;
        font-size: 50px;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .rightbtn {
        text-align: right; 
        margin-bottom: 1rem;
    }
</style>

<div class="centre">
    <div class="title">
        QNA
    </div>
    <h4 style="text-align: center;">Category: {{ target_category.name }}</h4>

    {% if user.is_authenticated %}
    <div class="rightbtn">
        <a href="{% url 'mainpage:ask' %}" class="btn btn-outline-secondary">질문하기</a>
    </div>

    
    {% for question in feed_list %}
    <a href="{% url 'mainpage:question_detail' pk=question.id %}">
        <div class="card border-info card-item">
            {% include 'snippets/qna_detail.html' with target_question=question %}
        </div>
    </a>
    <br>
    {% empty %}
    <p>아직 등록된 글이 없습니다.</p>
    {% endfor %}
    
    {% include 'snippets/pagination.html' with page_obj=page_obj %}
    <br>

    <div style="text-align: center;">
        <a href="{% url 'mainpage:qna' %}" class="btn btn-outline-secondary">목록으로</a>
    </div>
    {% else %}
        <div class="text-center" style="margin: 100px;">
            <h2>Only For Alumini</h2>
            <a href="{% url 'mainpage:home' %}" style="text-decoration: none; color: black;">
                <button style="padding: 10px 20px; border: none; border-radius: 5px; background-color: black; color: white; margin-top: 10px;">Return to Home</button>
            </a>
        </div>
    {% endif %}
</div>

{% endblock %}