{% load static %}
<!-- templates/cardlist.html -->
<div class="card-list">
    {% include "snippets/card.html" with image_url="photo/back.png" description1="테스트 중입니다." description2="테스트 중입니다." description3="테스트 중입니다." description4="테스트 중입니다." date="24.06.01" %}
    {% include "snippets/card.html" with image_url="photo/empty.PNG" description1="테스트 중입니다." description2="테스트 중입니다." description3="테스트 중입니다." description4="테스트 중입니다." date="YY.MM.DD" %}
    {% include "snippets/card.html" with image_url="photo/tttt.jpg" description1="테스트 중입니다." description2="테스트 중입니다." description3="테스트 중입니다." description4="테스트 중입니다." date="YY.MM.DD" %}
</div>
