{% load static %}

<style>
    .q_title{
        color: #292929;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 6px;
        position: relative;
        padding-top: 5px;
        padding-left: 40px;
    }
    .q_title::before{
        color: #c62917;
        content: "Q.";
        font-size: 30px;
        font-weight: 400;
        margin-top: 24px;
        left: 24px;
        line-height: 26px;
        position: absolute;
        top: 0;
    }
    .q_title_inner{
        margin-top: 22px;
        margin-left: 20px;
        font-size: 30px;
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .a_title{
        color: #292929;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 6px;
        position: relative;
        padding-top: 5px;
        padding-left: 40px;
    }
    .a_title::before{
        color: #99caff;
        content: "A.";
        font-size: 24px;
        font-weight: 400;
        left: 10px;
        line-height: 26px;
        position: absolute;
        top: 0;
    }
    .a_title_inner{
        font-size: large;
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
    }


    .qna-body{
        padding-left: 40px;
        padding-top: 10px;
        color: #444444;
        font-size: 20px;
        font-weight: 400;
        line-height: 22px;
        max-width: 95%;
        margin-bottom: 12px;
    }

    .qna-date{
        /* color: #888888; */
        color: #737373;
        display: flex;
        font-size: 15px;
        line-height: 16px;
        margin-left: 2.5rem;
        margin-bottom: 22px;
    }
</style>

<div class="qna-header">
    <div class="q_title">
        <div class="q_title_inner">
            {{ target_question.title }}
        </div>
    </div>
</div>

<div class="qna-body">
    {{ target_question.author }} <br><br>
    {{ target_question.content }}
</div>


<div class="qna-date">
    [{{ target_question.category }}] | {{ target_question.created_at|date:"Y.m.d" }}
</div>

