{% load static %}

<style>
    .q_title{
        color: #292929;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 6px;
        position: relative;
        padding-top: 5px;
        padding-left: 40px;
    }
    .q_title::before{
        color: #c62917;
        content: "Q.";
        font-size: 24px;
        font-weight: 400;
        left: 10px;
        line-height: 26px;
        position: absolute;
        top: 0;
    }
    .q_title_inner{
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .a_title{
        color: #292929;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 6px;
        position: relative;
        padding-top: 5px;
        padding-left: 40px;
    }
    .a_title::before{
        color: #99caff;
        content: "A.";
        font-size: 24px;
        font-weight: 400;
        left: 10px;
        line-height: 26px;
        position: absolute;
        top: 0;
    }
    .a_title_inner{
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }


    .qna-body{
        padding-left: 40px;
        color: #444444;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        margin-bottom: 12px;
        height: 44px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .qna-date{
        color: #888888;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        padding-left: 40px;
        text-align: right;
    }


</style>

<div class="qna-header">
    <div class="q_title">
        <div class="q_title_inner">
            {{ question.title }}
        </div>
    </div>
</div>

<div class="qna-body">
    {{ question.content }}
</div>

<div class="a_title">
    <div class="a_title_inner">
        {% if question.get_latest_answer.author %}
            [{{ question.get_latest_answer.author }}] 님의 답변
        {% else %}
            등록된 답변이 없습니다.
        {% endif %}
    </div>
</div>

<div class="qna-body">
    {% if question.get_latest_answer.author %}
        {{ question.get_latest_answer.content }}
    {% else %}
        첫 답변을 기다리고 있어요!
    {% endif %}
</div>

<div class="qna-date">
    [{{ question.category }}] | {{ question.created_at|date:"Y.m.d" }} (답변: {{ question.answers.count }})
</div>

