{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    .search-box{
        padding: 28px 16px; 
        border: 2px solid black; 
        border-radius: 2rem; 
        margin: 3rem 8rem;
    }
    @media (max-width: 576px) {
        .search-box {
            padding: 20px 10px; 
            margin: 2rem 1rem;
        }
    }
</style>

<div style="text-align: center;">
    <br>
    <h1> Search </h1>
    <h4>View Alumini</h4>

    <div class="container">
        <div class="row row-cols-4">
            <!-- 직접 검색
                <div class="col">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username">
                    </div>
                </div>
            -->
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col">
                <form method="get" action="{% url 'mainpage:search' %}">
                    <select name="sort" class="form-select" onchange="this.form.submit()">
                        <option value="-name" {% if request.GET.sort == '-name' %}selected{% endif %}>Name</option>
                        <option value="th" {% if request.GET.sort == 'th' %}selected{% endif %}>Th</option>
                        <option value="company" {% if request.GET.sort == 'company' %}selected{% endif %}>Company</option>
                        <option value="contact" {% if request.GET.sort == 'contact' %}selected{% endif %}>Contact</option>
                        <option value="name" {% if request.GET.sort == 'name' %}selected{% endif %}>-Name</option>
                        <option value="-th" {% if request.GET.sort == '-th' %}selected{% endif %}>-Th</option>
                        <option value="-company" {% if request.GET.sort == '-company' %}selected{% endif %}>-Company</option>
                        <option value="-contact" {% if request.GET.sort == '-contact' %}selected{% endif %}>-Contact</option>
                    </select>
                </form>
            </div>
        </div>
    </div>
        
    {% if target_user == user or can_view %}
    <!-- bootstrap4 Table -->
    <div class="search-box">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Th</th>
                    <th scope="col">Company</th>
                    <th scope="col">Contact</th>
                </tr>
            </thead>
            
            {% for alumini in alumini_list %}
            <tbody>
                <tr>
                    <th scope="row">
                        <a href="{% url 'account:detail' pk=alumini.user.pk %}">
                            {{alumini.user}}
                        </a>
                    </th>
                    <td>{{alumini.th}}</td>
                    <td>{{alumini.company}}</td>
                    <td>{{alumini.contact}}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
    {% include 'snippets/pagination.html' with page_obj=page_obj %}

    {% else %}
    <div class="text-center" style="margin: 100px;">
        <h2>Only For Alumini</h2>
        <a href="{% url 'mainpage:home' %}" style="text-decoration: none; color: black;">
            <button style="padding: 10px 20px; border: none; border-radius: 5px; background-color: black; color: white; margin-top: 10px;">Return to Home</button>
        </a>
    </div>
    {% endif %}
</div>
<br>


{% endblock %}