<div style="text-align: center; margin-top: 2rem;font-family: Pochaevsk;">
    <style>
        .footer {
            background-color: #dddddd;
            padding: 30px;
            display: flex;
            justify-content: space-around;
        }

        .footer-section {
            font-size: 20px;
        }

        .footer img {
            height: 60px;
        }
    </style>

    <div class="footer">
        <div class="footer-section">
            <img src="logo1.png" alt="ICPA 로고">
            <img src="logo2.png" alt="Posco 로고">
        </div>
        <div class="footer-section">
            <strong>Dev Info</strong><br>
            DEV: dev-0eum@github.com<br>
            Email: lifeparadox470@gmail.com
        </div>
</div>