
    <div style="text-align: center; margin: 2rem 0;" >
        <div>
            <h1 class="icpa_title">The ICPA</h1>
        </div>
        <div style="display: inline-block;">
            <div>
                <a href="{% url 'article:list' %}">
                    <span>Articles</span>
                </a>

            </div>

            {% if not user.is_authenticated %}
            <div>
                <a href="{% url 'account:login' %}?next={{ request.path }}">
                    <span>login </span>
                </a>

            </div>

            <div style="float: right;">
                <a href="{% url 'account:create' %}">
                    <span>SignUP </span>
                    <!-- From Uiverse.io by elijahgummer  
                    <button class="styled-button">
                        Register Now
                        <div class="inner-button">
                        <svg
                            id="Arrow"
                            viewBox="0 0 32 32"
                            xmlns="http://www.w3.org/2000/svg"
                            height="30px"
                            width="30px"
                            class="icon"
                        >
                            <defs>
                            <linearGradient y2="100%" x2="100%" y1="0%" x1="0%" id="iconGradient">
                                <stop style="stop-color:#FFFFFF;stop-opacity:1" offset="0%"></stop>
                                <stop style="stop-color:#AAAAAA;stop-opacity:1" offset="100%"></stop>
                            </linearGradient>
                            </defs>
                            <path
                            fill="url(#iconGradient)"
                            d="M4 15a1 1 0 0 0 1 1h19.586l-4.292 4.292a1 1 0 0 0 1.414 1.414l6-6a.99.99 0 0 0 .292-.702V15c0-.13-.026-.26-.078-.382a.99.99 0 0 0-.216-.324l-6-6a1 1 0 0 0-1.414 1.414L24.586 14H5a1 1 0 0 0-1 1z"
                            ></path>
                        </svg>
                        </div>
                    </button>
                    -->
                </a>
            </div>


  

            {% else %}
            <a href="{% url 'subscribes:list' %}">
                <span>Subscribed</span>
            </a>

            <a href="{% url 'project:list' %}">
                <span>Projects</span>
            </a>

            <a href="{% url 'account:detail' pk=user.pk %}">
                <span>MyPage</span>
            </a>
            <form style="display: inline" action="{% url 'account:logout' %}?next={{ request.path }}" method="post" class="nav">
                {% csrf_token %}
                <input type="submit" class="btn btn-dark rounded-pill" value="logout">
            </form>
            <!-- 버전의 차이: https://velog.io/@juhee_bda/%EA%B0%95%EC%9D%98-%EA%B3%B5%EB%B6%80-%EB%A1%9C%EA%B7%B8%EC%9D%B8%EB%A1%9C%EA%B7%B8%EC%95%84%EC%9B%83-%EA%B5%AC%ED%98%84%ED%95%98%EA%B8%B0
            <span> '{{user.username}}' </span>
            <a href="{% url 'account:logout' %}?next={{ request.path }}">
                <span>logout</span>
            </a>
            <p>  | User:{{user.username}}   | </p>
            -->
            {% endif %}
        </div>
    </div>